[Unit]
Description=commentaires
After=network.target

[Service]
Environment=COMMENTAIRES_DATABASE_USER=sa-comments@projet-de-specialite-377322.iam
Environment=COMMENTAIRES_DATABASE_PASSWORD=
Environment=COMMENTAIRES_DATABASE_NAME=projet-de-specialite-db-comments
ExecStart=/opt/commentaires/commentaires-linux-amd64
ExecStop=/bin/kill -9 $MAINPID
ProtectSystem=strict
PrivateDevices=true
PrivateTmp=true
ProtectKernelLogs=true
ProtectProc=invisible
PrivateUsers=true
ProtectHome=true
UMask=0077
RestrictNamespaces=true
LockPersonality=true
NoNewPrivileges=true
ProtectKernelModules=true
SystemCallArchitectures=native
ProtectHostname=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_NETLINK
RestrictRealtime=true
ProtectControlGroups=true
ProtectKernelTunables=true
RestrictSUIDSGID=true
ProtectClock=true
RemoveIPC=true
CapabilityBoundingSet=
SystemCallFilter=@system-service
SystemCallFilter=~@privileged

[Install]
WantedBy=multi-user.target