[Unit]
Description=commentaires
After=network.target cloud-sql-proxy.service

[Service]
Environment=COMMENTAIRES_LISTEN=0.0.0.0:8080
Environment=COMMENTAIRES_DATABASE_HOST=127.0.0.1
Environment=COMMENTAIRES_DATABASE_USER={{ database_user }}
Environment=COMMENTAIRES_DATABASE_PASSWORD=
Environment=COMMENTAIRES_DATABASE_NAME={{ database_name }}
ExecStartPre=/bin/sleep 30
ExecStart=/opt/commentaires/commentaires-linux-amd64
ExecStop=/bin/kill -9 $MAINPID
ProtectSystem=strict
TemporaryFileSystem=/:ro
PrivateDevices=true
PrivateTmp=true
ProtectKernelLogs=true
ProtectProc=invisible
PrivateUsers=true
UMask=0077
RestrictNamespaces=true
LockPersonality=true
NoNewPrivileges=true
ProtectKernelModules=true
SystemCallArchitectures=native
ProtectHostname=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_NETLINK
RestrictRealtime=true
ProtectControlGroups=true
ProtectKernelTunables=true
RestrictSUIDSGID=true
ProtectClock=true
RemoveIPC=true
CapabilityBoundingSet=
AmbientCapabilities=
SystemCallFilter=@system-service
SystemCallFilter=~@privileged

[Install]
WantedBy=multi-user.target