[Unit]
Description=front
After=network.target

[Service]
WorkingDirectory=/opt/front
ExecStart=/usr/bin/npm start
ExecStop=/bin/kill -9 $MAINPID
User=front
Group=front
ProtectSystem=strict
ReadOnlyPaths=/
ReadWritePaths=/home/front/ /opt/front/
PrivateDevices=true
PrivateTfront=true
ProtectKernelLogs=true
ProtectProc=invisible
PrivateUsers=true
UMask=0077
RestrictNamespaces=true
LockPersonality=true
NoNewPrivileges=true
ProtectKernelModules=true
SystemCallArchitectures=native
ProtectHostname=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_NETLINK
RestrictRealtime=true
ProtectControlGroups=true
ProtectKernelTunables=true
RestrictSUIDSGID=true
ProtectClock=true
RemoveIPC=true
CapabilityBoundingSet=
AmbientCapabilities=
SystemCallFilter=~@privileged

[Install]
WantedBy=multi-user.target
