[Unit]
Description=posts
After=network.target cloud-sql-proxy.service

[Service]
Environment=DATABASE_URL=postgresql://{{ database_user }}@127.0.0.1:5432/{{ database_name }}
WorkingDirectory=/opt/posts
ExecStartPre=/bin/sleep 30
ExecStart=/opt/posts-venv/bin/python3 -m uvicorn project.src.app.main:app --reload --workers 1 --host 0.0.0.0 --port 8000
ExecStop=/bin/kill -9 $MAINPID
User=posts
Group=posts
ProtectSystem=strict
ReadWritePaths=/mnt/{{ bucket }}
PrivateDevices=true
PrivateTmp=true
ProtectKernelLogs=true
ProtectProc=invisible
PrivateUsers=true
ProtectHome=true
UMask=0077
RestrictNamespaces=true
LockPersonality=true
NoNewPrivileges=true
ProtectKernelModules=true
SystemCallArchitectures=native
ProtectHostname=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_NETLINK
RestrictRealtime=true
ProtectControlGroups=true
ProtectKernelTunables=true
RestrictSUIDSGID=true
ProtectClock=true
RemoveIPC=true
CapabilityBoundingSet=
SystemCallFilter=@system-service
SystemCallFilter=~@privileged

[Install]
WantedBy=multi-user.target
