[Unit]
Description=subs
After=network.target cloud-sql-proxy.service

[Service]
Environment=DATABASE_HOST=127.0.0.1
Environment=DATABASE_PORT=5432
Environment=DATABASE_NAME={{ database_name }}
Environment=DATABASE_USERNAME={{ database_user }}
Environment=DATABASE_PASSWORD=
WorkingDirectory=/opt/subs
ExecStartPre=/bin/sleep 30
ExecStart=/usr/bin/mvn -DskipTests spring-boot:run
ExecStop=/bin/kill -9 $MAINPID
User=subs
Group=subs
ProtectSystem=strict
ReadOnlyPaths=/
ReadWritePaths=/home/subs/ /opt/subs/
PrivateDevices=true
PrivateTmp=true
ProtectKernelLogs=true
ProtectProc=invisible
PrivateUsers=true
UMask=0077
RestrictNamespaces=true
LockPersonality=true
NoNewPrivileges=true
ProtectKernelModules=true
SystemCallArchitectures=native
ProtectHostname=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_NETLINK
RestrictRealtime=true
ProtectControlGroups=true
ProtectKernelTunables=true
RestrictSUIDSGID=true
ProtectClock=true
RemoveIPC=true
CapabilityBoundingSet=
AmbientCapabilities=
SystemCallFilter=@system-service
SystemCallFilter=~@privileged

[Install]
WantedBy=multi-user.target
